body {
    background-color: #B0E0F7;
}

img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

div {
    background-color: white;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

input{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid black;
}

label{
    font-size: 20px;
}

button{
    border-radius: 15px;
    height: 50px;
    width: 100%;
    background-color: #B0E0F7;
    font-size: 15px;
    color: white;
    border: none;
}